{

  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },

  "ecmaFeatures": {
    "modules": true
  },

  "globals"   : {
    "chai": false,
    "sinon": false,
    "Replay": false
  },



  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "no-multi-spaces": [1, { exceptions: {
      "AssignmentExpression": true, 
      "VariableDeclarator": true
    }}],
    "curly": [2, "multi"]
  }
}